* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  max-height: auto;
  background: #ecf2f8;
  display: -ms-grid;
  display: grid;
  place-items: Center;
}

#grid {
  display: -ms-grid;
  display: grid;
  width: 90%;
  -ms-grid-columns: 2fr, 1fr;
      grid-template-columns: 2fr, 1fr;
  grid-gap: 1rem;
}

#grid .nested-main {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: auto;
  grid-gap: 1rem;
}

#grid .nested-main .daniel-clifford {
  background-color: #7541c8;
  background-image: url(/Testimonials-Grid-Section/images/bg-pattern-quotation.svg);
  position: relative;
  background-repeat: no-repeat;
  background-position: 90% 0;
}

#grid .nested-main .Jonathan-Walters {
  background-color: #48556a;
}

#grid .nested-main .Jeanette-Harmon {
  background-color: white;
}

#grid .nested-main .Jeanette-Harmon .grayish {
  color: #48556a;
}

#grid .nested-main .Patrick-Abrams {
  background-color: #19212e;
}

#grid .nested-end {
  display: -ms-grid;
  display: grid;
}

#grid .nested-end .Kira-Whittle {
  background-color: white;
}

#grid .nested-end .Kira-Whittle .person {
  color: #19212e;
}

.element-styles {
  padding: 0px 10%;
  border-radius: 15px;
}

.header-with-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1rem 0;
}

.header-with-picture img {
  border-radius: 30px;
  margin-right: 20px;
  width: 3rem;
  height: 3rem;
  border: 3px solid #ecf2f8;
}

.header-with-picture .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #cfcfcf;
}

.header-with-picture .person .name {
  font-size: 0.9rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
}

.header-with-picture .person .verrified {
  font-size: 0.9rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  opacity: 50%;
}

blockquote {
  color: white;
  font-size: 1.25rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  line-height: 1.4;
}

.main-text {
  padding: 1.5rem 0;
  color: #cfcfcf;
  opacity: 70%;
  font-size: 0.9rem;
  line-height: 1.5;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
}

.grayish {
  color: #48556a;
}

@media (min-width: 991.98px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #grid {
    width: 90%;
    height: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
  }
  #grid .nested-main {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
}
/*# sourceMappingURL=main.css.map */