@media (min-width: 991.98px) {
  body {
    display: flex;
    justify-content: center;
    align-items: start;
  }
  #grid {
    margin-top: 4rem;
    width: 90%;

    display: grid;
    grid-template-columns: 2fr 1fr;

    .nested-main {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));

      .daniel-clifford {
        grid-column: span 2;
      }

      .Patrick-Abrams {
        grid-column: span 2;
      }
    }
  }

  .main-text {
    font-size: 0.9rem;
  }
}

@media (width: 1024px) and (orientation: landscape) {
  #grid {
    width: 90%;
  }
}
