@media (min-width: 991.98px) {
  body {
    display: flex;
    justify-content: center;
    align-items: start;
  }
  #grid {
    margin-top: 4rem;
    width: 70%;
    height: 50%;

    display: grid;
    grid-template-columns: 70% 30%;

    .nested-main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .daniel-clifford {
        grid-column: span 2;
      }

      .Patrick-Abrams {
        grid-column: span 2;
      }
    }
  }
}

@media (width: 1024px) and (orientation: landscape) {
  #grid {
    width: 90%;
  }
}
