@import "configs";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  max-height: auto;
  background: $light-grayish-blue;
  display: grid;
  place-items: Center;
}

#grid {
  display: grid;
  width: 90%;

  grid-template-columns: 2fr, 1fr;
  gap: 1rem;

  .nested-main {
    display: grid;
    // grid-auto-columns: auto;
    gap: 1rem;

    .daniel-clifford {
      background-color: $moderate-violet;
      background-image: url(/Testimonials-Grid-Section/images/bg-pattern-quotation.svg);
      position: relative;
      background-repeat: no-repeat;
      background-position: 90% 0;
    }

    .Jonathan-Walters {
      background-color: $very-dark-grayish-blue;
    }

    .Jeanette-Harmon {
      background-color: white;

      .grayish {
        color: $very-dark-grayish-blue;
      }
    }

    .Patrick-Abrams {
      background-color: $very-dark-blackish-blue;

      // display: flex;
      // flex-direction: column;
    }
  }

  .nested-end {
    display: grid;

    .Kira-Whittle {
      background-color: $white;

      .person {
        color: $very-dark-blackish-blue;
      }
    }
  }
}

.element-styles {
  padding: 0px 10%;
  border-radius: 15px;
}

.header-with-picture {
  display: flex;
  width: 100%;
  padding: 1rem 0;

  img {
    border-radius: 30px;
    margin-right: 20px;
    width: 3rem;
    height: 3rem;
    border: 3px solid $light-grayish-blue;
  }

  .person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $light-gray;

    .name {
      font-size: 0.9rem;
      @include fontWeight(500);
    }

    .verrified {
      font-size: 0.9rem;
      @include fontWeight(500);
      opacity: 50%;
    }
  }
}

blockquote {
  color: white;
  font-size: 1.25rem;
  @include fontWeight(600);
  line-height: 1.4;
}

.main-text {
  padding: 1.5rem 0;
  color: $light-gray;
  opacity: 70%;
  font-size: 0.9rem;
  line-height: 1.5;
  @include fontWeight(600);
}

.grayish {
  color: $very-dark-grayish-blue;
}

@import "queries";
