@import "configs";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  max-height: auto;
  background: $light-grayish-blue;
  display: grid;
  place-items: Center;
}

#grid {
  display: grid;
  width: 90%;
  height: 90%;
  grid-template-columns: 2fr, 1fr;

  .nested-main {
    display: grid;
    grid-auto-columns: auto;
    grid-gap: 1rem;

    .daniel-clifford {
      background-color: $moderate-violet;
      background-image: url(/Testimonials-Grid-Section/images/bg-pattern-quotation.svg);
      padding: 0px 10%;
      display: flex;
      flex-direction: column;
      border-radius: 25px;
      position: relative;
      background-repeat: no-repeat;
      background-position: 90% 0;
    }

    .header-with-picture {
      display: flex;
      width: 100%;
      padding: 1.5rem 0;

      img {
        border-radius: 30px;
        margin-right: 20px;
        width: 2rem;
        height: 2rem;
      }

      .person {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $light-gray;

        .name {
          font-size: 0.9rem;
          @include fontWeight(500);
        }

        .verrified {
          font-size: 0.9rem;
          @include fontWeight(500);
          opacity: 50%;
        }
      }
    }

    blockquote {
      color: white;
      font-size: 1.25rem;
      @include fontWeight(600);
      line-height: 1.4;
    }

    .main-text {
      padding: 1.5rem 0;
      color: $light-gray;
      opacity: 70%;
      font-size: 0.9rem;
      line-height: 1.4;
      @include fontWeight(600);
    }
  }
}
